.text-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.text-divider::before,
.text-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}
.text-divider:not(:empty)::before {
  margin-right: 10px;
}
.text-divider:not(:empty)::after {
  margin-left: 10px;
}

.price {
  color: #a8b324;
}

.add-to-cart:hover {
  color: #bac34e;
  background-color: #ffffff;
}
