* {
  font-family: sans-serif;
  font-weight: 400;
  color: #0b0b0b;
}

h3 {
  font-size: 22px;
}

h3,
h4,
h5 {
  color: #03121a;
  font-weight: 700;
  line-height: 24px;
  margin: 16px;
}

span {
  color: #0071ce;
}

span .active {
  color: #0a9af2;
}

.btn:hover {
  color: #0a9af2;
}
.text-title-normal {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-ui-large {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.text-ui-large-em {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.privacy-navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 320px;
  border-right: 1px solid #f0f1f2;
}

.privacy-navbar-layout {
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.privacy-navbar-header {
  position: sticky;
  background-color: white;
  top: 0;
}

.privacy-navbar-button {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.privacy-content-card {
  max-width: 720px;
  width: 100%;
}
