#imageZoom {
  position: relative;
  border: 1px solid #ccc;
}
#imageZoom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#imageZoom::after {
  display: var(--display);
  content: "";
  width: 100%;
  height: 100%;
  background-image: var(--url);
  background-size: 120%;
  background-position: var(--zoom-x) var(--zoom-y);
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.product-name {
  color: #0a472e;
}
.product-price {
  color: #a8b324;
}

.badge-in-stock {
  background: #defaf2;
  font-size: 10px;
  line-height: 10px;
}

.navbar-sticky {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.btn:hover {
  color: #bac34e;
  background-color: #ffffff;
}
